# CONFIGURACIÓN GENERAL SIGIPLAN
SECRET_KEY=sigiplan-dev-secret-key-18239487
FLASK_ENV=dev

# CONEXIÓN MONGODB
# Para base de datos local:
MONGODB_DB=sigiplan
MONGODB_HOST=mongodb://localhost:27017/sigiplan

# Para base de datos en la nube (ej. MongoDB Atlas), descomenta y edita la siguiente línea:
# MONGODB_HOST=mongodb+srv://<usuario>:<password>@cluster.mongodb.net/sigiplan?retryWrites=true&w=majority
